In [15]:
def display(rng, func):
    for i in rng:
        print(func(i))
        print(i, func(i))

In [16]:
c2f=lambda c: c/5*9+32
display(range(0, 101, 5), c2f)

0 32.0
5 41.0
10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0
45 113.0
50 122.0
55 131.0
60 140.0
65 149.0
70 158.0
75 167.0
80 176.0
85 185.0
90 194.0
95 203.0
100 212.0

In [17]:
# f2c=lambda f: (f-32)*5/9
display(range(32, 213, 10), lambda f: (f-32)*5/9)

32 0.0
42 5.555555555555555
52 11.11111111111111
62 16.666666666666668
72 22.22222222222222
82 27.77777777777778
92 33.333333333333336
102 38.888888888888886
112 44.44444444444444
122 50.0
132 55.55555555555556
142 61.111111111111114
152 66.66666666666667
162 72.22222222222223
172 77.77777777777777
182 83.33333333333333
192 88.88888888888889
202 94.44444444444444
212 100.0

In [1]:
import pandas as pd

In [8]:
url='https://github.com/prasertcbs/basic-dataset/raw/master/IMDBtop1000.csv'
df=pd.read_csv(url, usecols=['Title', 'Genre', 'Actors'], nrows=10)
df

,Title,Genre,Actors
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi","Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Adventure,Mystery,Sci-Fi","Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,Split,"Horror,Thriller","James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Animation,Comedy,Family","Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Action,Adventure,Fantasy","Will Smith, Jared Leto, Margot Robbie, Viola D..."
5,The Great Wall,"Action,Adventure,Fantasy","Matt Damon, Tian Jing, Willem Dafoe, Andy Lau"
6,La La Land,"Comedy,Drama,Music","Ryan Gosling, Emma Stone, Rosemarie DeWitt, J...."
7,Mindhorn,Comedy,"Essie Davis, Andrea Riseborough, Julian Barrat..."
8,The Lost City of Z,"Action,Adventure,Biography","Charlie Hunnam, Robert Pattinson, Sienna Mille..."
9,Passengers,"Adventure,Drama,Romance","Jennifer Lawrence, Chris Pratt, Michael Sheen,..."

In [3]:
df['Title'].apply(lambda s: len(s))

0    23
1    10
2     5
3     4
4    13
5    14
6    10
7     8
8    18
9    10
Name: Title, dtype: int64

In [15]:
df['Genre'].apply(lambda s: len(s.split(',')))

0    3
1    3
2    2
3    3
4    3
5    3
6    3
7    1
8    3
9    3
Name: Genre, dtype: int64

In [13]:
df[df['Genre'].apply(lambda s: len(s.split(',')))>2]

,Title,Genre,Actors
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi","Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Adventure,Mystery,Sci-Fi","Noomi Rapace, Logan Marshall-Green, Michael Fa..."
3,Sing,"Animation,Comedy,Family","Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Action,Adventure,Fantasy","Will Smith, Jared Leto, Margot Robbie, Viola D..."
5,The Great Wall,"Action,Adventure,Fantasy","Matt Damon, Tian Jing, Willem Dafoe, Andy Lau"
6,La La Land,"Comedy,Drama,Music","Ryan Gosling, Emma Stone, Rosemarie DeWitt, J...."
8,The Lost City of Z,"Action,Adventure,Biography","Charlie Hunnam, Robert Pattinson, Sienna Mille..."
9,Passengers,"Adventure,Drama,Romance","Jennifer Lawrence, Chris Pratt, Michael Sheen,..."

In [6]:
df[df['Title'].apply(lambda s: len(s)) > 10]

                     Title                                             Actors
0  Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
4            Suicide Squad  Will Smith, Jared Leto, Margot Robbie, Viola D...
5           The Great Wall      Matt Damon, Tian Jing, Willem Dafoe, Andy Lau
8       The Lost City of Z  Charlie Hunnam, Robert Pattinson, Sienna Mille...

In [5]:
df[['Title']].applymap(lambda s: len(s))

   Title
0     23
1     10
2      5
3      4
4     13
5     14
6     10
7      8
8     18
9     10